@import './loader.css';

/* Declare variables here with --variable: value */
:root {
  --base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --base-font-color: black;
  --primary-color: #cf3f02;
  --warning-color: #CF7902;
  --line-height: 1.4
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* > p { margin-top: 0 }
* + p { margin-top: calc(var(--line-height), 1em); }

html {
  font-family: var(--base-font-family);
  color: color(var(--base-font-color) tint(20%));
  line-height: var(--line-height);
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0 1em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a,
a:visited,
a {
  color: var(--primary-color);
}

h1 small {
  color: color(var(--base-font-color) tint(80%));
  text-transform: uppercase;
  font-size: .75em;
}

/* Only support Chrome */
#chrome-warning {
  position: absolute;
  bottom: 0;
  line-height: var(--line-height);
}
.chrome #chrome-warning {
  display: none;
}

/* Sections */

/* main header */
body > header {
  height: 6em;
  line-height: 6em;
  position: relative;
}
body > header h1 { margin: 0; }

/* main footer */
body > footer {
  height: 4em;
  line-height: 4em;
}
.github {
  float: right;
}

/* main */
body > main {
  height: calc(100vh - 10em);
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about-view {
  flex: 1 15em;
  padding: 0 1em;
  overflow: scroll;
}

.map-view {
  position: relative;
  flex: 2 400px;
}

.map {
  position:absolute;
  z-index: 100;
  top:0;
  bottom:0;
  width:100%;
}


/** Components */

.warning {
  color: var(--warning-color);
  font-weight: bold;
}

.drag:before {
  background-color: #eeeeff;
  background-color: rgba(255, 255, 255, .5);
  content: "Drop your GeoJSON!";
  font-size: 30px;
  z-index: 300;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.progress {
  display: none;
  position: absolute;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, .85);

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progress.show { display: flex; }
.progress .current {
  max-width: 50%
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@import "./h5bp-helpers.css";
@import "./h5bp-print.css";

