@import './loader.css';

/* Declare variables here with --variable: value */
:root {
  --base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --base-font-color: black;
  --primary-color: #cf3f02;
  --warning-color: #CF7902;
  --line-height: 1.4;
  --global-radius: 2px;
} 

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: var(--base-font-family);
  color: color(var(--base-font-color) tint(20%));
  line-height: var(--line-height);
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

a,
a:visited,
a:hover {
  color: inherit;
}

a:hover {
  opacity: 0.64;
}

a[title="Delete last point drawn"]{
    opacity: 1;
}

a[title="Cancel drawing"]{
    opacity: 1;
}

/* Sections */

/* site header */
#site-header {
  position: relative;
  z-index: 100;
  padding: 16px;
  background: color(var(--base-font-color) tint(20%));
  color: #fff;
  height:44px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#site-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
}

#site-title sup {
  color: color(var(--base-font-color) tint(64%));
  font-size: 0.75em;
  top: -0.25em;
}

#about-title{
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  float: right;
}

/* site footer */
#site-footer {
  color: color(var(--base-font-color) tint(48%));
}

/* site body */
#site-body {
  width: 100%;
  min-height: 90vh;
}

.leaflet-draw{

}

/* Okay, this settles it: the CSS4-only approach is still too limited
 * for my satisfaction: mixins, or even just extends, would be good enough.
 */
@custom-selector :--message-box #helper, .draw-disabled .leaflet-draw-toolbar:after;

:--message-box {
  padding: 16px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: var(--global-radius);
  font-size: 14px;
  line-height: 20px;
}

:--message-box > p:last-of-type {
  margin-bottom: 0;
}

.drawn-polygon-stats-block dd,
.drawn-polygon-stats-block dt {
  display: inline;
}
.drawn-polygon-stats-block dt {
  font-weight: bold;
}


#helper {
  position: absolute;
  z-index: 200;
  top: 16px;
  right: 16px;
  width: 256px;
  height: 200px;
}

.helper-initial{
  margin:auto;
  text-align: center;
  width:190px;
}

#helper-footer{
  position:absolute;
  top: 160px;
  width:200px;
  text-align: center;
}

#helper-footer i {
  margin-left: 20px;
  cursor: pointer;
}

.results {
  margin-top: 16px;
}

#map-view {
  position: relative;
  z-index: 90;
  height: 384px;
}

.map {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map a,
.map a:hover { color: color(var(--base-font-color) tint(20%)); }

/* leaflet.draw */
.leaflet-draw-actions a,
.leaflet-draw-actions a:hover {
  color: #fff;
}

a.leaflet-draw-draw-polygon {
  width: auto;
}
a.leaflet-draw-draw-polygon:after {
  font-weight: bold;
  content: "Draw a Shape";
  background: #fff;
  padding: 0 .25em;
  margin: 1px 0 1px 26px;
  height: 24px;
  line-height: 26px;
  display: inline-block;
}

.draw-disabled .leaflet-draw-draw-polygon {
  opacity: .25;
  pointer-events: none;
}

/*
 * Message to zoom in further.  `draw-disabled` class is added/removed
 * as user zooms map.
 */
.draw-disabled .leaflet-draw-toolbar:after {
  color: var(--warning-color);
  content: "Zoom in further to draw an area of interest.";
  transition: .33s;
  position: absolute;
  top: 100%;
  font-size: 12px;
  padding: 12px;
  margin-top: 12px;
}

/* about */
#about-view {
  padding: 32px 16px;
  columns: 3;
}

#about-view h2 {
  margin-top: 0;
  column-span: all
}

#about-view p {
  margin-top: 0;
}

/* site footer */
#site-footer {
  position: relative;
  z-index: 100;
  padding: 16px;
  background: #fff;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.08);
  font-size: 14px;
  line-height: 20px;
}

/** Components */

.warning {
  color: var(--warning-color);
  font-weight: bold;
}

.results { display: none; }
.results.show { display: block; }

.result-popup {
  width: 20em;
  opacity: .85 !important;
}
.result-popup dl {
  padding: 0;
  margin: 0;
}
.result-popup dt,
.result-popup dd {
  display: inline-block;
  margin: 0;
  width: 45%;
}
.result-popup dt {
  font-weight: bold;
  text-align: right;
}
.result-popup dd {
  margin-left: .5em;
}

.drag:before {
  background-color: #eeeeff;
  background-color: rgba(255, 255, 255, .5);
  content: "Drop your GeoJSON!";
  font-size: 30px;
  z-index: 300;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.progress {
  display: none;
  position: absolute;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, .85);

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progress.show { display: flex; }
.progress .current {
  max-width: 50%
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 768px) {
  #map-view {
    height: 512px;
  }
  .github {
    float: right;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@import "./h5bp-helpers.css";
@import "./h5bp-print.css";

