@import "atebits.css";

body {
  background-color: #eeeeff;
  margin: 0;
  padding: 0;
}

#map {
  position:absolute;
  z-index: 100;
  top:0;
  bottom:0;
  width:100%;
}

#spinner {
  display: none;
  position: absolute;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, .25);
}

#spinner.show { display: block; }

.atebits:not(:required) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
